/10evennumber.dSYM
/adding
/adding.dSYM
/armstrong
/armstrong.dSYM
/array.dSYM
/binarysearch
/binarysearch.dSYM
/binarytodecimal
/binarytodecimal.dSYM
/cahcounter
/cahcounter.dSYM
/calc
/calc.dSYM
/cashcounter
/cashcounter.dSYM
/checkcopy
/checkcopy.dSYM
/checkpre.bin
/contbreak
/datatypds
/datatypds.dSYM
/dha4.dSYM
/digitalroot
/digitalroot.dSYM
/evennumber
/evennumber.dSYM
/factorialrec
/factorialrec.dSYM
/fibonacci
/fibonacci.dSYM
/frequencyrepeat
/frequencyrepeat.dSYM
/git
/hello
/hello.dSYM
/https:
/ifelse
/ifelse.dSYM
/input.txt
/largestinmatrix
/largestinmatrix.dSYM
/linearsearch
/linearsearch.dSYM
/loops
/loops.dSYM
/main
/maxmin
/maxmin.dSYM
/ncr
/ncr.bin
/ncr.dSYM
/output.txt
/pattern12.dSYM
/pattern13.dSYM
/pattern14.dSYM
/pattern3.dSYM
/pattern9.dSYM
/patternprint.dSYM
/pointer
/pointer.dSYM
/prime
/prime.dSYM
/primebtw2numbers.dSYM
/primefactor.dSYM
/primefactor2.dSYM
/primenumber
/primenumber.dSYM
/pythtrip
/pythtrip.bin
/pythtrip.dSYM
/removeduplicate
/removeduplicate.dSYM
/reversearray
/reversearray.dSYM
/reversenum
/reversenum.dSYM
/switchstatements
/switchstatements.dSYM
/tempCodeRunnerFile
/test
/test.dSYM
/testa1
/testa1.dSYM
/time
/time.dSYM
/webdev
/wolfy
/wolfy.dSYM
/zigzagpattern
/zigzagpattern.dSYM